* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

#home {
  height: 80vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("/images/bg.jpg");
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#home .nav-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home h1 {
  font-family: "Wisdom Script", Script;
  color: #fed136;
}

#home nav {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  width: 45%;
}

#home nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.2s;
}

#home nav a:hover {
  color: #fed136;
}

#home .hero {
  text-align: center;
  padding: 0 50px;
  color: white;
}

#home h5 {
  font-family: "Noto Serif", serif;
  text-transform: capitalize;
  font-size: 35px;
  margin-bottom: 30px;
  font-style: italic;
}

#home h4 {
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#services .icon {
  border-radius: 50%;
  border: 2px solid #fed136;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

#portfolio {
  background-color: #f7f7f7;
}

#portfolio .grid {
  grid-template-columns: repeat(auto-fit, 291px);
  justify-content: space-between;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
}

#portfolio .item {
  background-color: white;
  padding-bottom: 15px;
  border-radius: 2px;
}

#portfolio h3 {
  margin: 6px 0;
}

#about .timeline {
  margin-top: 55px;
  position: relative;
}

#about .timeline::before {
  content: "";
  position: absolute;
  top: 5px;
  left: calc(50% - (2px / 2));
  height: 95%;
  width: 2px;
  z-index: -10;
  background-color: #f1f1f1;
}

#about .event {
  display: grid;
  grid-template-columns: 1fr 183px 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: center;
  margin-bottom: 65px;
}

#about .event:nth-child(2n + 1) {
  text-align: left;
}

#about .event:nth-child(2n) {
  text-align: right;
}

#about img {
  max-width: 100%;
  max-height: 100%;
}

#about .story-now {
  width: 183px;
  height: 183px;
  border-radius: 100%;
  border: 6px solid #f1f1f1;
  background-color: #fed136;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .story-now h6 {
  color: #fff;
}

@media all and (max-width: 800px) {
  #about .event:nth-child(2n + 1) {
    grid-template-columns: 0 150px 1fr;
  }
  #about .event:nth-child(2n) {
    grid-template-columns: 1fr 150px 0;
  }
  #about .story-now {
    width: 150px;
    height: 150px;
  }
  #about .timeline::before {
    display: none;
  }
}

@media all and (max-width: 600px) {
  #about .event:nth-child(2n + 1) {
    grid-template-columns: 1fr;
    grid-template-rows: 0 150px 1fr;
  }
  #about .event:nth-child(2n) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 150px 0;
  }
  #about img {
    height: 150px;
  }
}

#team {
  background: #f7f7f7;
}

#team .item {
  text-align: center;
  scroll-behavior: smooth;
}

#team img {
  max-width: 250px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 100%;
  border: 5px solid #e2e2e2;
}

#team h3 {
  margin-bottom: 0px;
}

#team .item p {
  margin-bottom: 10px;
}

#team .icons {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

#team .icon {
  font-size: 20px;
  color: #222;
  border-radius: 50%;
  border: 2px solid #222;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  cursor: pointer;
}

#team .icon:hover {
  background-color: #222;
  color: #fff;
}

#team .team-p {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 900px;
}

.container {
  padding: 0 85px;
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  border: none;
  padding: 12px 29px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.btn-primary {
  background-color: #fed136;
  color: white;
}

.btn-primary:hover {
  background-color: #ecbf1c;
}

section {
  padding: 80px 0;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 10px;
}

h3 {
  color: #222;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

p {
  font-family: "Noto Serif", serif;
  font-size: 14px;
  color: #777;
  line-height: 170%;
}

.italic {
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  margin-top: 60px;
}

h6 {
  color: #222;
  font-size: 18px;
  text-transform: uppercase;
}
